<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.mooc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="loginAndregister.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="loginAndregister.Register"></activity>
        <activity android:name="userData.UserData"></activity>
        <activity android:name="mainPage.Mainpage"></activity>
        <activity android:name="userData.UserDataManager"></activity>
        <activity android:name="loginAndregister.Forgetpassword"></activity>
       
    </application>

</manifest>
